.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.prisma/**
tests/**
scripts/**
jest.config.js
webpack.config.js
node_modules/**
*.vsix
.prettierrc
.eslintrc.js
package-lock.json
pnpm-lock.yaml
